*{
    margin: 0%;
    padding: 0%;
}

:root{
    --navbar-height:59px
}
#navbar{
    position: relative;
    margin: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* height: 633px; */
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

#logo{
    height: 10px 34px;
}

.img{
    margin: 0 45px;
    height: 100px;
    width: 100px;

}

.item{
    list-style: none;
    font-size: 1.3rem;
}

.ul{
    position: relative;
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;}
.link{
    /* display: block; */
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

.section{
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 0%;
    padding: 3px 200px;
    height: 550px;
    
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.section::before{
    content: "";
    background: url(../italy-2119440_960_720.webp) no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.80;
}

.h-primary{
    
    color: red;
    /* text-align: center;
    font-size: 2.8rem;
    width: 100%;
    margin: 2.8rem auto;
    line-height: 2;
    padding: 12px; */
    font-size: 5.6 rem;
    line-height: 2;
    margin-top: 2.6rem rem;
    padding-top: 100px;
    /* width: 100%; */

    font-family: 'Bree Serif', serif;
}


.h-secondary{
    text-align: center;
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.p-primary{
    color: red;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
}

.center{
    margin: auto;

}
.del{
    margin: auto;
    display: block;
}

.btn{
    display: inline-block;
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-decoration: none;
    text-align:center;
    margin-top: 10px;
    margin-bottom:10px;
    
    
}

#services{
    margin: 34px;
    display: flex;
    /* flex-direction:column ; */
}

.box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: rgb(245, 245, 245);

}


#contact{
    /* position: relative; */
    position: relative;
    
    
}
    

#contact::before{
    
    content: "";
    background: url(../envelopes-6919301_960_720.jpg) no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.30;
}



/* .conact-heading{
    text-align: center;
    font-size: 2.8rem;
    /* padding: 12px; */
    /* margin-top: 0%; */
    /* font-family: 'Bree Serif', serif; */
/* } */ 

.contact-us{
    /* padding: 10px;
    width: 50%;
    margin-top: 0px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact input, 
#contact textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact form{
    width: 40%;
}

#contact label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

.footer{
    background-color: black;
    color: #eaf6f6;
    text-decoration: none;
    font-size: 1.2rem;
    /* margin-top: 10px ; */
 }

 .copyright{
    font-size: 0.75rem;
    padding: 20px ;
    text-align: center;
 }
